@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;1,900&display=swap');

body{
   /* height: 100vh; */
    margin: 0px;
   /* overflow: hidden; */
    font-family: Roboto, sans-serif;
    /* added this*/
    display: flex;
    flex-direction: column;
}
/* =================== */
ul{
    list-style-type: none;
}
a:link, a:visited{
    color: rgb(255, 255, 255);
    font-weight: 900;
    text-decoration: none;
  }
a:hover, a:active{
    color: black;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 0 80px;
    background: rgb(49, 48, 48);
}
.links .link-links{
    display: flex;
    gap:20px;
    padding: 0px;
}
.navbar .navbar-right{
    display: flex;
    gap:20px;
    padding-top: 10px;
}
.icon{
    width: 48px;
    height: 48px;
    background: rgb(255, 255, 255);
    box-shadow: inset 2px 2px 4px rgba(0,0,0,.6);
    border-radius: 50%;
}
.logo{
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 900;
    font-style: italic;
}
/* =================== */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 120px;
    padding: 50px;
    background: rgb(49, 48, 48);
}
.header .left{
    display: flex;
    flex-direction: column;
    padding: 30px;
    flex: 1;
}
.left .h1container{
    display:flex;
    color: rgb(255, 255, 255);
}
.left p{
    font-weight: 600;
    color: rgb(197, 193, 193);
}
.header .right{
    margin-right: 10%;
    width: 500px;
    height: 250px;
    border-radius: 20px;
}
.connect{
    border: none;
    border-radius: 8px;
    background: rgb(9, 100, 219);
    color: rgb(15, 11, 11);
    width: 100px;
    padding: 10px 2px;
}
/* =================== */
.content{
    display: flex;
    flex-direction: column;
    padding: 50px;
    gap: 40px;
}
.sub-title{
    color: rebeccapurple;
    font-size: 32px;
    font-weight: 700;
    font-style: normal;
    display: flex;
    justify-content: center;
}
.cards{
    display: flex;
    justify-content: space-between;
}
.cards .card{
    width: 150px;
    height: 150px;
    border-radius: 10px;
    border: 2px solid rgb(164, 116, 212)
}
/* =================== */
.quotes{
    display: flex;
    flex-direction: column;
    padding: 50px 410px;
    gap: 10px;
    background-color: blanchedalmond;
}
#quote{
    display: flex;
    flex: 1;
    color: rebeccapurple;
    font-size: 32px;
    font-weight: 200;
    font-style: italic;
    padding-left: 10%;
    
}
#author{
    display: flex;
    flex:1;
    justify-content: right;
    padding-right: 10%;
    color: rebeccapurple;
    font-size: 17px;
    font-weight: 900;
}
/* =================== */
.action{
    display: flex;
    padding: 50px;
    justify-content: center;
    
}
.action .container{
    display: flex;
    border-radius: 15px;
    background-color: rgb(9, 100, 219);
}
.container-right{
    display: flex;
    align-content: center;
    justify-content: center;
    padding-left: 50px;
    flex-direction: column;
    color: white;
}
.container-left{
    display: flex;
    align-content: center;
    padding: 50px;
    
}
h2,h4{
    margin: 7px;
}

.contact{
    border: 3px solid white;
    border-radius: 8px;
    background-color: rgb(9, 100, 219);
    height: 40px;
    width: 140px;
    color: white;

}
.footer{
    display: flex;
    justify-content: center;
    background-color: rgb(49, 48, 48);
    padding: 10px;
    color: white;
}

.right{
    border: 1px solid red;
}